:root {
    --text: snow;
    --background: mediumpurple;
    --accent: orange;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro';
}

a {
    text-decoration: none;
    color: var(--text);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    padding: 8px 12px;
}

.logo {
    font-size: 24px;
    color: var(--accent);
}

.menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.menu li {
    padding: 8px 12px;
}

.menu li:hover {
    background-color: var(--accent);
    border-radius: 4px;
}

.icon {
    list-style: none;
    color: var(--accent);
    display: flex;
    padding-left: 0;
}

.icon li {
    padding: 8px 12px;
}

.hamBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
    color: var(--accent);
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 12px;
    }
    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .menu li{
        width: 100%;
        text-align: center;
    }
    .icon {
        display: none;
        justify-content: center;
        width: 100%;
    }
    .hamBtn {
        display: block;
    }
    .menu.active,
    .icon.active {
        display: flex;
    }
}

